@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
	<h1>系统管理员</h1>
	<h2>操作</h2>
</header>
<section class="main">
	<aside class="aside">
		@if (HttpContext.Current.User.IsInRole("系统管理员"))
		{
			<h3>用户</h3>
			<ul class="toggle">
				<li>@Html.ActionLink("用户管理","Index","User")</li>
				<li>@Html.ActionLink("新用户","New","User")</li>
			</ul>
		}
		<h3>脚本</h3>
		<ul class="toggle">
			<li>@Html.ActionLink("站点管理","Index","Site")</li>
			<li>@Html.ActionLink("新站点","New","Site")</li>
		</ul>
		<h3>常用脚本特效</h3>
		<ul class="toggle">
			<li>@Html.ActionLink("查看/使用", "Views", "Effect")</li>
		@if (HttpContext.Current.User.IsInRole("系统管理员"))
		{
			<li>@Html.ActionLink("管理", "Index", "Effect")</li>
			<li>@Html.ActionLink("添加", "New", "Effect")</li>
		}
		</ul>
		
		<h3>安全</h3>
		<ul class="toggle">
			<li>@Html.ActionLink("修改密码","Password","User")</li>
			<li>@Html.ActionLink("退出登陆","Logout","User")</li>
		</ul>
	</aside>
	<section class="content">@RenderBody()</section>
	<div class="clear"></div>
</section>
@section Scripts {@Scripts.Render("~/bundles/init")@RenderSection("scripts", required: false)}
@section Styles{@RenderSection("styles", required: false)}
@section SyntaxHighlighter{@RenderSection("SyntaxHighlighter", required: false)}