<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")    @RenderSection("styles", required: false)    @RenderSection("SyntaxHighlighter", required: false)    @Scripts.Render("~/bundles/modernizr")</head>
<body>
    @RenderBody()@Scripts.Render("~/bundles/jquery")@RenderSection("scripts", required: false)
    @Html.Raw(ViewBag.Script)
</body>
</html>
