@model ScriptManage.Models.LoginModel

@{
    ViewBag.Title = "脚本管理系统登陆";
}


@using (Html.BeginForm("Login","User",new { ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post,new{@class="LoginForm"}))
{
    @Html.AntiForgeryToken();
    <header><h3>脚本管理系统</h3></header>
    <ul class="input">
        <li>
            @Html.LabelFor(m => m.username)
            @Html.TextBoxFor(m => m.username, new { autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.username)
        </li>
        <li>
            @Html.LabelFor(m => m.password)
            @Html.PasswordFor(m => m.password)
            @Html.ValidationMessageFor(m => m.password)
        </li>
    </ul>
    <footer class="pager">
        <button type="submit">确定</button>
        <button type="reset">取消</button>
    </footer>
    <div class="msg">@Html.ValidationSummary(true);@ViewBag.Message</div>
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
}
