@model ScriptManage.Models.PasswordModel
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_aside.cshtml";
}
@using (Html.BeginForm("Password", "User", FormMethod.Post, new { @class = "module passwordForm" }))
{ 
    @Html.AntiForgeryToken()
    <header><h3>密码修改</h3></header>
    <div class="contents">
        <ul class="forms">
            <li>
                @Html.LabelFor(m => m.oldPassword)
                @Html.PasswordFor(m => m.oldPassword, new { autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.oldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.password)
                @Html.PasswordFor(m => m.password)
                @Html.ValidationMessageFor(m => m.password)
            </li>
            <li>
                @Html.LabelFor(m => m.rePassword)
                @Html.PasswordFor(m => m.rePassword)
                @Html.ValidationMessageFor(m => m.rePassword)
            </li>
        </ul>
        <div class="button pager">
            <button class="normal" type="submit">修改密码</button>
            <button class="normal" type="reset">重置表单</button>
        </div>
    </div>
    <div class="msg">
        @Html.ValidationSummary(true)
        @ViewBag.Message
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }