@using ScriptManage.Models;
@{
	ViewBag.Title = "网站管理";
	Layout = "~/Views/Shared/_aside.cshtml";
	HtmlPager pager = ViewBag.Pager;
}

<div class="module user">
	<header><h3>网站列表</h3></header>
	<div class="contents">
		@using (Html.BeginForm("Del", "Site"))
		{
			@Html.AntiForgeryToken();
		<table class="tablesorter" cellspacing="0">
			<thead><tr>
				<th class="header"><span class="all">全选</span> / <span class="none">反选</span></th>
				<th class="header">编号 <img src="~/Images/bg.gif" /></th>
				<th class="header">域名 <img src="~/Images/bg.gif" /></th>
				<th class="header">网站名称</th>
				<th class="header">操作</th>
			</tr></thead>
			<tbody>
				@foreach (var m in Model)
				{
					<tr>
					<td><input type="checkbox" name="id" value="@m.id" /></td>
					<td>@m.id</td>
					<td>@m.domain</td>
					<td>@m.name</td>
					<td class="action"><a href="@Url.Action("Del/"+m.id)"><img src="~/Images/icn_trash.png" /></a> <img class="edit" src="~/Images/icn_edit.png" /></td>
					</tr>
				}
			</tbody>
		</table>
			<div class="pager">
				<span class="all">全选</span> / <span class="none">反选</span>
				<button class="delete" type="submit">批量删除</button>
				@Html.ActionLink("添加站点", "New", "Site")
				<a href="@Url.Action("Index", "Site", new { id = pager.First })">首页</a>
				<a href="@Url.Action("Index", "Site", new { id = pager.Prev })"><</a>
				@for (var i = pager.Start; i <= pager.End; i++)
				{
					if (i != pager.PageIndex)
					{ 
					<a href="@Url.Action("Index", new { id = i })">@i</a>
					}
					else
					{ 
					<a class="current">@i</a>
				}
				}
				<a href="@Url.Action("Index", "Site", new { id = pager.Next })">></a>
				<a href="@Url.Action("Index", "Site", new { id = pager.Last })">末页</a>
				<a>@(pager.TotalRecord)条记录</a>
			</div>
		}
		<div class="clear"></div>
	</div>
</div>
@section Scripts{
	@Scripts.Render("~/bundles/jquerytable")
}
