@model ScriptManage.Models.SiteNewModel
@{
    ViewBag.Title = "新站点";
    Layout = "~/Views/Shared/_aside.cshtml";
}

<section class="module newuser">
    <header><h3>新建网站</h3></header>
    <div class="contents">
        @using (Html.BeginForm("New", "Site")) 
        { 
            @Html.AntiForgeryToken();
            <ul class="forms">
                <li>
                    @Html.LabelFor(m => m.domain)
                    @Html.TextBoxFor(m => m.domain, new { autofocus = "autofocus",style="width:200px" })
                    @Html.ValidationMessageFor(m => m.domain)
                </li>
                <li>
                    @Html.LabelFor(m => m.name)
                    @Html.TextBoxFor(m => m.name)
                    @Html.ValidationMessageFor(m => m.name)
                </li>
            </ul>
            <div class="msg">@Html.ValidationSummary(true)@ViewBag.Message</div>
            <div class="button pager">
            <button class="normal" type="submit">新建网站</button>
            <button class="normal" type="reset">重新输入</button>
        </div>
        }
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
