@{
	ViewBag.Title = "脚本管理";
	Layout = "~/Views/Shared/_aside.cshtml";
}
@using (Html.BeginForm("Download", "Script", new { id = ViewBag.SiteID }, FormMethod.Post,new{id="download"}))
{ 
	<div class="module scripts">
		<header>
			<h3>代码压缩打包下载</h3>
			<div class="pager nomargin">
				<label for="enname">英文名称</label>
				<input type="text" name="enname" id="enname" data-val-require="脚本英文名称必需填写" placeholder="用来生成脚本文件，如：jquery 将生成jquery.js" style="width:400px;" />
				<a href="javascript:void(0)" class="submit" style="color:#005801;font-weight:bold;">下载</a>
				<a href="@Url.Action("New", "Script", new { id = ViewBag.SiteID })">新脚本</a>
				<a href="@ViewBag.ReturnUrl">返回</a>
			</div>
		</header>
		@Html.AntiForgeryToken()
		@foreach (var m in Model)
		{
			<div class="module">
				<header>
					<h3 class="hide" style="display: block;">
						<input type="checkbox" name="scriptid" value="@m.id" />
						@if (m.locks){<span class="lock">(已锁定)</span>} 
						@if (m.del){<span>(已删除)</span>}
						else{ @m.name<span class="dates">@(m.dates.ToString(" yyyy年MM月dd日 hh:mm:ss"))</span>}
						@if (m.type == 2) { <span class="remote">(远程脚本)</span>}
					</h3>
					<div class="pager nomargin">
						<a class="history" scriptid="@m.id">历史记录</a>
						@if (!m.del && !m.locks){<a class="editCode" href="@Url.Action("Edit", "Script", new { id = m.id })">修改</a>}
						@if (m.del){<a href="@Url.Action("Del", "Script", new { id = m.id })">撤消删除</a> }
						else{<a href="@Url.Action("Del", "Script", new { id = m.id })">删除</a>}
						@if (m.locks){<a href="@Url.Action("Lock", "Script", new { id = m.id })">解除锁定</a> }
						else{<a href="@Url.Action("Lock", "Script", new { id = m.id })">锁定</a>}
					</div>
				</header>
				<div class="codeContent">
					<div class="codeList block"></div>
				</div>          
				<div class="clear"></div>
			</div>
		}
		<div class="msg">@ViewBag.Message<span class="field-validation-valid" data-valmsg-for="enname" data-valmsg-replace="true"></span></div>
		<footer>
			<h3><span class="all">全选</span> / <span class="none">反选</span></h3>
		</footer>
	</div>
}
@section Scripts{@Scripts.Render("~/bundles/jquerytable")@Scripts.Render("~/bundles/jqueryval")<script>
$("#download").validate({
	rules: {
		"enname": {
			required: true
		}
	},
	messages: {
		"enname": {
			required: $("input[name='enname']").attr("data-val-require")
		}
	 }
});
</script>}
@section Styles{@Styles.Render("~/Content/SyntaxHighlighterCss")}
@section SyntaxHighlighter{@Scripts.Render("~/bundles/SyntaxHighlighter")}