@{
	ViewBag.Title = "脚本管理";
	Layout = "~/Views/Shared/_aside.cshtml";
}
@foreach (var m in Model)
{
	<div class="module list">
		@using (Html.BeginForm("Update", "Script", new { id = m.id }))
		{
			<input type="hidden" name="sid" value="@m.sid" />
			@Html.AntiForgeryToken()
			<header>
				<h3>@if(m.locks){<span class="lock">(已锁定)</span>} @if (m.del){<span>(已删除)</span>}else { @m.name<span class="dates">@(m.dates.ToString(" yyyy年MM月dd日 hh:mm:ss"))</span>}</h3>
				<div class="pager nomargin">
					<a class="show">查看</a>
					@if (!m.del && !m.locks)
					{ 
					<a class="editCode">编辑</a>
					<a class="save" val="@m.id">保存</a>
					}
					@if (m.del)
					{<a href="@Url.Action("Del", "Script", new { id = m.id })">撤消删除</a> }
					else
					{
					<a href="@Url.Action("Del", "Script", new { id = m.id })">删除</a>
					}
					@if (m.locks)
					{<a href="@Url.Action("Lock", "Script", new { id = m.id })">解除锁定</a> }
					else { 
					<a href="@Url.Action("Lock", "Script", new { id = m.id })">锁定</a>
					
					}
				</div>
			</header>
			<pre class='pre brush: js'>@m.code</pre>
			<div class="editor">
				<textarea name="code">@m.code</textarea>
			</div>
			<div class="clear"></div>
		}
	</div>
}
@section Scripts{
	@Scripts.Render("~/bundles/jquerytable")
}
@section Styles{
	@Styles.Render("~/Content/SyntaxHighlighter")
}
@section SyntaxHighlighter{
	@Scripts.Render("~/bundles/SyntaxHighlighter")
}
<script type="text/javascript">SyntaxHighlighter.all();</script>